.team {
  background: #0e96f0;
  .title {
    color: #fff;
    padding-top: 89px;
    padding-bottom: 21px;
  }
  .desc {
    color: #fff;
    padding-bottom: 104px;
    margin-bottom: 40px;
  }
  .team-con {
    max-width: 1640px;
    margin: auto;
    position: relative;
    text-align: left;

    .swiper-wrapper {
      height: 987px;

      .warp {
        display: flex;
      }

      .item {
        width: 536px;
        height: 432px;
        background: #fff;
        box-shadow: 7px 21px 18px rgba(29, 31, 117, 0.15);
        border-radius: 15px;

        &:not(:first-child) {
          margin-left: 16px;
        }

        .top {
          position: relative;
          margin-top: -61.7px;
          padding-left: 31px;
          padding-right: 32px;
          align-items: flex-end;
          display: flex;
          justify-content: space-between;

          .left {
            display: flex;
            align-items: flex-end;

            .headImg {
              margin-right: 20px;
              width: 123px;
              height: 123px;
              background: #fff;
              border-radius: 50px;
            }

            .position {
              display: flex;
              flex-direction: column;

              .info {
                position: relative;
                top: -60px;
                width: 132px;
                height: 0px;
                border-radius: 2px;
                border: 4px solid #3eddcf;
              }

              .text {
                position: relative;
                top: -20px;
                color: #363872;
                font-size: 26px;
              }
            }
          }

          .right {
            img {
              width: 43px;
              height: 43px;
            }

            .telegram {
              margin-left: 15px;
            }
          }
        }

        .team-name {
          padding-top: 24px;
          padding-left: 52px;
          font-size: 34px;
          font-weight: bold;
          color: #1d1f75;
        }
        .team-position {
          padding-left: 52px;
          padding-top: 21px;
          padding-bottom: 36px;
          color: #1d1f75;
          font-size: 26px;
        }
        .team-desc {
          padding-left: 52px;
          padding-right: 30px;
          font-size: 24px;
          line-height: 28px;
          color: #363872;
        }
      }
    }
  }

  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    background-image: url("../assets/left.png");
    left: -70px;
    top: 60%;
    transform: scale(0.75);
  }

  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    background-image: url("../assets/right.png");
    right: -70px;
    top: 60%;
    transform: scale(0.75);
  }
  .swiper-pagination-team {
    position: absolute;
    transform: translate(-50%) scale(0.75);
    bottom: 75px;
    left: 50%;
    z-index: 1;
    .swiper-pagination-bullet {
      width: 20px;
      height: 20px;
      opacity: 0.4;
      margin-left: 12px;
      background: #fff;
      &.swiper-pagination-bullet-active {
        opacity: 1;
      }
    }
  }
}
