.strategic {
    .strategic-con {
        width: 1640px;
        margin: 0 auto 137px;
        background: #fff;
    }

    .strategic-logo {
        text-align: left;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .logo {
            margin-left: 20px;
            flex: 1;
            margin-top: 34px;
        }
    }

    .title {
        padding-top: 93px;
        margin-bottom: 15px;
    }

    .desc {
        margin-bottom: 83px;
    }
}