@media only screen and  (min-width: 1280px) and (max-width: 1679px) {

.strategic {
    .strategic-con {
        width: 1640*0.76190476px;
        margin: 0 auto 137*0.76190476px;
    }

    .strategic-logo {

        .logo {
            margin-left: 20*0.76190476px;
            margin-top: 34*0.76190476px;
            img{
              width: 300*0.76190476px;
              height: 130*0.76190476px;
            }
        }
    }

    .title {
        padding-top: 93*0.76190476px;
        margin-bottom: 15*0.76190476px;
    }

    .desc {
        margin-bottom: 83*0.76190476px;
    }
}
}
