.economicModelApplicationScenario {
  .title {
    padding-top: 67px;
    padding-bottom: 23px;
  }

  .desc {
    margin-bottom: 118px;
  }

  .economicModelApplicationScenario-con {
    width: 1640px;
    margin: 0 auto;

    .economicModelApplicationScenario-warp {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      .economicModelApplicationScenario-img {
        img {
          width: 823px;
          height: 604px;
        }
      }
      .economicModelApplicationScenario-swiper {
        .economicModelApplicationScenario-swiper-awesomeSwiper {
          width: 674px;
          height: 512px;
          background: #fff;
          border: 1px solid #c4c8cb;
          box-shadow: 7px 21px 18px rgba(29, 31, 117, 0.15);
          border-radius: 15px;
          text-align: left;

          .economicModelApplicationScenario-swiper-title {
            font-size: 35px;
            padding-top: 45px;
            color: #1d1f75;
            font-weight: bold;
            padding-bottom: 32px;
            padding-left: 65px;
          }

          .economicModelApplicationScenario-swiper-info {
            width: 83px;
            height: 0px;
            border-radius: 3px;
            margin-left: 65px;
            border: 3px solid #1195f0;
            margin-bottom: 38px;
          }

          .economicModelApplicationScenario-swiper-desc {
            width: 572px;
            height: 258px;
            font-size: 26px;
            padding-left: 65px;
            font-weight: 400;
            line-height: 36px;
            color: #363872;
          }

          .swiper-wrapper {
          }
        }
      }
    }
  }

  &.economicModel {
    background: rgba($color: #a9b5bd, $alpha: 0.3);
    height: 1046px;
  }

  &.applicationScenario {
    height: 1060px;
    background: #fff;

    .economicModelApplicationScenario-warp {
      align-items: center;

      .economicModelApplicationScenario-swiper {
        width: 768px;
        height: 519px;

        .economicModelApplicationScenario-swiper-desc {
          width: 650px;
          height: 218px;
        }
      }
    }
  }

  .swiper-pagination {
    bottom: 45px;
    left: 53px;
    text-align: left;
    .swiper-pagination-bullet {
      width: 16px;
      height: 16px;
      opacity: 0.25;
      margin-left: 12px;
      background: #1d1f75;

      &.swiper-pagination-bullet-active {
        opacity: 1;
      }
    }
  }
}
