@media only screen and (max-width: 1279px) {
  .cn .head .head-con .head-content .head-warp .substrat .substratLogo{
    right: -30px;
  }
  .head .head-top-address .address a {
    font-size: 16px;
  }
  .head .head-con .head-content-line{
    top: -290px;
  }
  .head .video-img.isNoAddress {
    top: 533px;
  }

  .head .video-img .video-button {
    top: 250px;
  }
  .head .head-con .head-content .head-warp .substrat {
    flex-wrap: wrap;
  }
  #root.cn .parity {
    width: 282 * 0.55864198px;
  }
  #root.cn .join .btn-con .btn span {
    padding-left: 110 * 0.55864198px;
  }
  
  .head {
    .video-img {
      width: 428px;
      height: 1071 * 0.55864198px;
      top: 590px;
      left: 50%;
      transform: translateX(-50%) scale(1.18);
      &.fixed {
        top: 543px;
      }
    }
    .head-top {
      margin-bottom: -210 * 0.55864198px;
      .head-top-nav {
        height: 139 * 0.55864198px;
        .nav {
          width: 428px;
          padding-top: 33 * 0.55864198px;

          .nav-left {
            img {
              width: 309 * 0.55864198px;
              height: 72 * 0.55864198px;
            }
          }

          .nav-right {
            .list {
              .item {
                font-size: 18px;
                margin-left: 20px;

                &:hover,
                &.active {
                  &::after {
                    bottom: -10 * 0.55864198px;
                  }
                }
              }
            }

            .language {
              margin-left: 20px;

              .language-name {
                font-size: 25 * 0.55864198px;
                .one {
                  &.isShowLanguage {
                    top: 13 * 0.55864198px;
                  }
                }
                .two {
                  top: 20 * 0.55864198px;
                }
              }

              .language-arrow {
                height: 40 * 0.55864198px;
                width: 20 * 0.55864198px;
                margin-left: 5 * 0.55864198px;
              }

              .language-select {
                top: 35 * 0.55864198px;
                width: 100 * 0.55864198px;
                padding: 10 * 0.55864198px;
              }
            }
          }
        }
      }
    }
    .head-top-address {
      .address {
        width: 428px;
        margin: 0 auto;
        line-height: 57px;
        font-size: 16px;

        .close {
          right: -10px;

          &::after {
            width: 16 * 0.55864198px;
            top: 5.1px;
            font-size: 33 * 0.55864198px;
            height: 16 * 0.55864198px;
          }
        }
      }
    }

    .head-con {
      .head-content {
        width: 428px;
        height: 1000px;
        background-size: 1280px;

        &::before {
          width: 2px;
        }

        .head-warp {
          width: 428px;

          .content-desc {
            padding-bottom: 52px;
            padding-top: 338 * 0.55864198px;
            width: 428px;
            height: 110px;
            font-size: 30px;
            text-align: center;
            line-height: 72 * 0.55864198px;
            text-shadow: 0px 3 * 0.55864198px 6 * 0.55864198px
              rgba(0, 22, 221, 0.23);
          }

          .content-btn {
            margin-bottom: 48px;
            text-align: center;
            .farmBtnText {
              margin-right: 18 * 0.55864198px;
            }

            a {
              width: 148px;
              line-height: 44px;
              box-shadow: 0px 3 * 0.55864198px 3 * 0.55864198px
                rgba(0, 6, 166, 0.12);
              border-radius: 32 * 0.55864198px;
              font-size: 18px;
            }
          }

          .substrat {
            .substratLogo-con {
              width: 100%;
            }
            .substratLogo {
              position: relative;
              right: -100px;
              width: 129px;
              height: 58px;
              display: block;
            }

            .parity {
              width: 228x;
              height: 56 * 0.55864198px;
              font-size: 18px;
              font-weight: bold;
              line-height: 24px;
              margin-right: 17px;
            }

            .substrateBtnText {
              width: 158px;
              line-height: 43px;
              box-shadow: 0px 3 * 0.55864198px 3 * 0.55864198px
                rgba(0, 27, 162, 0.12);
              border-radius: 43px;
              font-size: 18px;
              font-weight: bold;
              position: relative;
              bottom: -15px;
            }
          }
        }
      }
    }
  }

  .usd {
    &.fixed{
      top: 946px;
    }
    &.topClose {
      top: 946px;
    }
    width: 374px;
    height: 198px;
    top: 975px;
    margin-left: -180px;
    box-shadow: 7 * 0.55864198px 18 * 0.55864198px 37 * 0.55864198px
      rgba(29, 31, 117, 0.25);
    border-radius: 20 * 0.55864198px;

    .usd-con {
      flex-wrap: wrap;
      padding-left: 16px;
      padding-top: 25px;

      .usd-logo {
        img {
          width: 88.76 * 0.55864198px;
          height: 88.76 * 0.55864198px;
        }
      }

      .usd-usd {
        margin-left: 38 * 0.55864198px;

        .usd-name {
          font-size: 20 * 0.55864198px;
        }

        .usd-price {
          font-size: 27px;
        }

        .usd-currency {
          margin-left: 10 * 0.55864198px;
          font-size: 30 * 0.55864198px;
        }
      }

      .verticalBar {
        &:after {
          left: -20 * 0.55864198px;
          height: 61 * 0.55864198px;
        }
      }
      .usd-point {
        margin-left: 100 * 0.55864198px;
        font-size: 23px;
        line-height: 53 * 0.55864198px;
        &::after {
          left: -20px;
        }
        .usd-direction {
          margin-left: 8 * 0.55864198px;
          border-left: 8.7 * 0.55864198px solid transparent;
          border-right: 8.7 * 0.55864198px solid transparent;
          border-bottom: 8.7 * 0.55864198px solid #55aa55;
        }
      }

      .usd-rank {
        align-items: flex-start;
        margin-left: 0px;
        margin-top: 43px;
        &::after {
          content: none;
        }
      }

      .usd-text {
        font-size: 12px;
        margin-bottom: 10px;
      }

      .usd-value {
        font-size: 20px;
      }

      .usd-marketCap {
        margin-top: 43px;
        align-items: flex-start;
        margin-left: 20px;
      }

      .usd-volume {
        margin-top: 43px;
        align-items: flex-start;
        margin-left: 20px;
      }
    }
  }
}
