.rewardsModalLayout {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100%;
	background-color: rgba($color: #000000, $alpha: 0.5);
	z-index: 100001;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;

	.modal {
		font-size: 25px;
		background: #ffffff;
		box-shadow: 0px 20px 40px rgba(30, 28, 36, 0.2);
		border-radius: 15px;
		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		background-image: url("../assets/modalbg.png");
		background-position: -80% 100%;
		background-repeat: no-repeat;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: flex-end;
		column-gap: 159px;
		padding: 0 91px 0 0;
		position: relative;

		.closeButton {
			position: absolute;
			top: 1rem;
			right: 1rem;
			font-size: 1rem;
			cursor: pointer;
			pointer-events: all;
			padding: 0.5rem;
			color: #e56239;
			font-weight: 900;
		}

		.illustrationModal {
			width: 200px;
		}

		.modalLayout {
			padding: 3em 2em 3em 5em;

			h3 {
				font-size: 2rem;
				font-weight: bold;
				color: #e56239;
				text-align: center;
				text-transform: capitalize;
			}

			.desc {
				font-size: 0.6em;
				font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
				text-align: center;
				padding: 0.5em 0;
			}

			.descGreen {
				font-size: 0.6em;
				font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
				text-align: center;
				width: 100%;
				text-align: center;
				color: #00b85c;
			}

			.descRed {
				font-size: 0.6em;
				font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
				text-align: center;
				width: 100%;
				text-align: center;
				color: #d20000;
			}

			.scoreBoard {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: flex-start;
				width: 100%;

				.scorePanel {
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
					align-items: flex-start;

					.scoreLabel {
						font-size: 0.8em;
						margin-left: 1em;
						margin-bottom: 0.5em;
						text-transform: capitalize;
					}

					.number {
						font-size: 1em;
						background: #ffe3cd;
						border-radius: 100px;
						padding: 0.5em 2em 0.5em 1em;
					}
				}
			}

			.content {
				margin-top: 2rem;
				display: flex;
				flex-direction: column;
				row-gap: 1em;
				justify-content: flex-start;
				align-items: flex-start;
				width: 15em;
				pointer-events: all;

				input::-webkit-outer-spin-button,
				input::-webkit-inner-spin-button {
					-webkit-appearance: none;
				}

				input[type="number"] {
					-moz-appearance: textfield;
				}

				button:disabled {
					pointer-events: none;
				}

				.lightButton {
					cursor: pointer;
					border: 1px solid #e56239;
					border-radius: 100px;
					width: 100%;
					font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
					font-weight: 600;
					color: #e56239;
					background-color: white;
					outline: none;
					text-align: center;
					font-size: 1rem;
					padding: 1em;
				}

				.label {
					font-weight: 400;
					color: #1e1c24;
					margin-left: 1.8rem;
					font-size: 1rem;
					margin-bottom: 0.5rem;
					text-transform: capitalize;
				}

				.addressInput {
					border: 2px solid #969696;
					box-shadow: 0px 3px 3px rgba(0, 6, 166, 0.12);
					opacity: 0.65;
					border-radius: 49px;
					padding-top: 1rem;
					padding-bottom: 1rem;
					padding-left: 2rem;
					padding-right: 2rem;
					background-color: white;
					outline: none;
					font-size: 1rem;
					width: calc(100% - 4rem);
				}

				.maxButton {
					cursor: pointer;
					background: #e56239;
					border-radius: 100px;
					text-transform: uppercase;
					padding-left: 2rem;
					padding-right: 2rem;
					padding-top: 1.2rem;
					padding-bottom: 1.2rem;
					outline: none;
					position: absolute;
					right: 0;
					top: 0;
					border: none;
					font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
					font-weight: 400;
					color: #ffffff;
				}

				.monitor {
					background: #f5d9bc;
					box-shadow: 0px 3px 3px rgba(0, 6, 166, 0.12);
					font-weight: 400;
					color: #1e1c24;
					border-radius: 100px;
					font-size: 1rem;
					padding: 1rem 2rem 1rem 2rem;
				}

				.buttons {
					display: flex;
					flex-direction: row;
					justify-content: flex-start;
					align-items: center;
					column-gap: 1rem;

					.darkButton {
						cursor: pointer;
						background: #e56239;
						border-radius: 100px;
						text-transform: capitalize;
						padding-left: 2rem;
						padding-right: 2rem;
						padding-top: 1rem;
						padding-bottom: 1rem;
						outline: none;
						border: none;
						font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
						font-weight: 400;
						color: #ffffff;

						&:disabled {
							opacity: 0.7;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 576px) {
	.rewardsModalLayout {
		.modal {
			font-size: 16px;
			column-gap: 0;
			padding: 1rem;
			width: 80%;
			background-image: none;

			.illustrationModal {
				display: none;
			}

			.modalLayout {
				padding: 3em 2em 1em 2em;

				.content {
					margin-top: 2rem;
					max-width: none;
					width: 100%;

					.buttons {
						justify-content: center;
						width: 100%;
						margin-top: 1rem;
					}
				}

				.scoreBoard {
					.scorePanel {
						.number {
							padding: 0.5em 1em 0.5em 1em;
						}
					}
				}
			}
		}
	}
}
